asgiref
asttokens
decorator
Django
django-crontab
exceptiongroup
executing
install
ipython
jedi
matplotlib-inline
parso
pexpect
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dotenv
pytils
pytz
six
sqlparse
stack-data
traitlets
typing_extensions
wcwidth
