{% extends 'mailing/base.html' %}

{% block content %}
<div class="footer">
    <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'mailing:client_list_mailing_create' %}">Создать
        список клиентов</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название списка клиентов</th>
        <th scope="col">Подключен к рассылке</th>
        <th scope="col">Управление списком</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>
    <tr>
    <tr class="№">
        <th scope="row">{{ object.client_list_name }}</th>
        {% for mailing in object.mailingsetting_set.all %}
        <td>{{ mailing.mailing_set_name }}</td>
        {% endfor %}
        <td>
            <div class="btn-group">
                <a href="#" type="button"
                   class="btn btn-sm btn-outline-secondary">View</a>
                <a href="{% url 'mailing:client_list_mailing_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'mailing:client_list_mailing_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}

