{% extends 'mailing/base.html' %}

{% block content %}
<div class="row">
    <div class="cpl-6">
        <div class="card">
            <div class="card-header">{{ object.email }}</div>
            <div class="card-body">
                <table class="table table-striped">

                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Комментарий</th>
                    </tr>
                    <tr>
                        <td>object.first_name</td>
                        <td>object.last_name</td>
                        <td>object.comment</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}