{% extends 'mailing/base.html' %}

{% block content %}
<div class="footer">
    <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'mailing:client_create' %}">Создать
        клиента</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">email</th>
        <th scope="col">Управление клиентом</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>
    <tr>
    <tr class="№">
        <th scope="row">{{ object.email }}</th>
        <td>
            <div class="btn-group">
                <a href="{% url 'mailing:client_view' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">View</a>

                <a href="{% url 'mailing:client_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit</a>

                <a href="{% url 'mailing:client_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Delete</a>
            </div>
        </td>
    </tbody>
    {% endfor %}
</table>
<div class="footer">
    <button value="Cancel" class="btn btn-secondary " onclick="window.history.back()" aria-current="page">Назад</button>
</div>
{% endblock %}
