{% extends 'mailing/base.html' %}

{% block carousel %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Зарегестрируся уже сейчас, чтобы создать свою рассылку</h1>
                    <!--                    <p>Зарегестрируся уже сейчас, чтобы создать свою рассылку</p>-->
                    <p><a class="btn btn-lg btn-primary" href="{% url 'users:register' %}">Регистрация</a></p>

                </div>
            </div>
        </div>

        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Количество рассылок активных: {{mailing_setting_run.count}}</h1>
                    <p class="opacity-75">
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Количество уникальных пользователей: {{ client.count }}</h1>
                    <!--                    <p>Some representative placeholder content for the third slide of this carousel.</p>-->
                    <!--                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>-->
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block content %}
{% for mail_set in mailing_setting %}
<div class="col-lg-4">
    <!--    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"-->
    <!--         role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>-->
    <!--        Placeholder</title>-->
    <!--        <rect width="100%" height="100%" fill="var(&#45;&#45;bs-secondary-color)"/>-->
    <!--    </svg>-->

    <h2 class="fw-normal">{{ mail_set.mailing_set_name }}</h2>

    <p>#</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
</div><!-- /.col-lg-4 -->
{% endfor %}
{% endblock %}

{% block content_mail %}

{% for journal_item in journal %}

<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">{{ journal_item.title }}
        </h2>
        <p class="lead">{{ journal_item.content }}</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
             height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
            <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
    </div>
</div>
{% endfor %}
{% endblock %}

