{% extends 'mailing/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">

    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card" type="center">
                    <div class="card-header">
                        <h3>
                            Создание сообщения для рассылки
                        </h3>
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                            Сохранить
                            <div class="footer">
                                <button value="Cancel" class="btn btn-secondary " onclick="window.history.back()"
                                        aria-current="page">Назад
                                </button>
                            </div>
                            {% else %}
                            Создать
                            <div class="footer">
                                <button value="Cancel" class="btn btn-secondary " onclick="window.history.back()"
                                        aria-current="page">Назад
                                </button>
                            </div>
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}