{% extends 'mailing/base.html' %}

{% block content %}

<div class="row">
    <div class="cpl-6">
        <div class="card">
            <div class="card-header">{{ object.email }}</div>
            <div class="card-body">
                <table class="table table-striped">

                    <tr>
                        <th>Названия рассылка</th>
                        <th>Переодичность рассылки</th>
                        <th>Статус рассылки</th>
                        <th>Названия темы сообщения рассылки</th>
                        <th>Количество рассылок</th>
                        <th>Владелец</th>
                    </tr>

                    <tr>
                        <td>
                            {{ object.name }}
                        </td>
                        <td>
                            {{ object.frequency }}
                        </td>
                        <td>
                            {{ object.is_status }}
                        </td>
                        <td>
                            {{ object.mailing_message_name.topic }}
                        </td>
                        <td>
                            {{ object.mailing_log.count_send_mail }}
                        </td>
                        <td>
                            {{ object.owner }}
                        </td>
                    </tr>
                </table>
                                <table class="table table-striped">

                    <tr>
                        <th>Время рассылки</th>
                        <th>Время следующей рассылки</th>
                        <th>Начало рассылки</th>
                        <th>Конец рассылки</th>
                        <th>Последняя отправка</th>
                    </tr>
                    <tr>
                        <td>
                            {{ object.date_mailing }}
                        </td>
                        <td>
                            {{ object.next_time_run }}
                        </td>
                        <td>
                            {{ object.start_time }}
                        </td>
                        <td>
                            {{ object.end_time }}
                        </td>
                        <td>
                            {{ object.mailing_log.last_try }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <button value="Cancel" class="btn btn-secondary " onclick="window.history.back()" aria-current="page">Назад</button>
</div>
{% endblock %}