{% extends 'mailing/base.html' %}


{% block content %}
<div class="footer">
    <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
    <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'mailing:list_client' %}">Список клиентов</a>
    <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'mailing:mailing_message_list' %}">Список сообщений</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Названия рассылки</th>
        <th scope="col">Начало рассылки</th>
        <th scope="col">Конец рассылки</th>
        <th scope="col">Периодичность рассылки</th>
        <th scope="col">Состояние рассылки</th>
        <th scope="col">Управление рассылкой</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>

    <tr>
        <th scope="row">{{ object.name }}</th>
        <td>{{ object.start_time }}</td>
        <td>{{ object.end_time }}</td>
        <td>{{ object.frequency }}</td>
        <td>
            {{ object.is_status }}
        </td>
        <td>
            <div class="btn-group">
                {% if perms.mailing.view_mailingsetting %}
                <a href="{% url 'mailing:mailing_detail' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">View</a>
                {% endif %}
                {% if perms.mailing.change_mailingsetting %}
                <a href="{% url 'mailing:mailing_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Edit</a>
                {% endif %}
                <a href="{% url 'mailing:mailing_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Delete</a>
            </div>
        </td>
    </tr>

    </tbody>
    {% endfor %}
</table>

{% endblock %}