{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Email" class="form-label">Email address</label>
                    <input type="email" name="email" id="Email"/><br>
                </div>
                <input type="submit" value="Скинуть пароль">
            </form>
        </div>
    </div>
</div>
{% endblock %}